* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
        /* font cercasi disperatamente */
}



/* header */

a {
    text-decoration: none;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    background-color: white;


}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 20px;
}

/* dropdown */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    display: none;
    min-width: 160px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 8px 16px 0px rgba(129, 125, 125, 0.6);
    padding: 12px 16px;
    z-index: 1;
    /* il dropdown più improvvisato della storia */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    display: flex;
}

.nav ul {
    display: flex;

}

.nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0 18px;
}

li a {
    text-decoration: none;
    color: dimgrey;
}

.header-btn a {
    background-color: #0560FB;
    color: white;
    padding: 10px 15px;
    width: 70%;
}

.button {
    background-color: #0560FB;
    color: white;
    display: inline-block;
    padding: 10px 15px;
    width: 70%;
}


/* jumbo */


.container-jumbo {
    width: 100%;
    padding: 90px 0 50px 0;
    background-color: #B4D0E7;
}

.subcontainer {
    max-width: 1000px;
    margin: 0 auto;
    bottom: -30px;
}


.head-title {

    text-align: left;
    font-size: 33px;
    margin-top: 65px;
}

.flexcontainer {
    width: 100%;
    top: 30px;
    position: relative;

}

.jumbo-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.jumbo-text p {
    margin: 30px 0;
}

.img {
    width: 69%;
    display: flex;
    position: absolute;
    left: 30%;
    top: 8%;


}

img {
    width: 100%;


}

/* columns */

.business-plan {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10%;


}

h2 {
    font-size: 40px;

}

.fatturazione {
    margin: 50px 0;
}

.plans-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.columns {
    width: 30%;
}

.single-plan {
    text-align: center;
    padding: 12px 12px;
    border: lightgrey solid 1px;
}

.content-plan {
    padding: 35px 35px;
    border: lightgray solid 1px;
}

.cta-button {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #0560FB;
    color: white;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 30px;
}

.content-plan p {
    margin-bottom: 12px;
}

.content-plan p a {
    text-decoration: underline;
    color: #0560FB;
}


.features {
    margin: 25px 0;
    display: flex;
    align-items: flex-start;
}

.features>span {
    display: inline-block;
    width: 90%;
    font-size: 14px;
}

.features>i {
    display: inline-block;
    width: 10%;
    color: #0560FB;
}

.first-line {
    width: 20%;
    margin: 40px 0;
}

/* team */

.team {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 5%;
}

.enterprise {
    text-align: center;
    padding: 12px 12px;
    border: lightgrey solid 1px;
}

.content-enterprise {
    padding: 35px 35px;
    border: lightgray solid 1px;
    line-height: 40px;
    position: relative;
}

h3 {
    font-size: 25px;
    margin-bottom: 30px;
}

.content-enterprise p {
    margin-top: 40px;
}

.team-button {
    position: absolute;
    background-color: #0560FB;
    color: white;
    padding: 5px 10px 5px 10px;
    width: 30%;
    text-align: center;
    top: 35px;
    right: 35px;

}

/* partners */

.partners {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
}

.partners-img {
    width: 60%;
}

.partners-text {
    display: flex;
    width: 40%;
    padding: 45px;
    flex-direction: column;
    align-content: center;
    line-height: 26px;
}

.partners-text a {
    color: darkgrey;
    border: darkgray solid 1px;
    padding: 10px;
    width: 46%;

}

.partners-text p {
    margin-bottom: 40px;
}

/* task */

.title {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 5%;
}

.tasks {
    max-width: 70%;
    margin: 0 auto;
}

.card-container {
    width: 100%;
    display: flex;

}

.tasks-card {
    padding: 15px;
    margin: 10px 5px 10px 5px;
}

.tasks-card img {
    width: 100%;
}

.tasks-card h3 {
    font-size: 20px;
}

/* users */

.clients {
    max-width: 70%;
    margin: 70px auto 140px auto;

}

.clients a {
    color: #0560FB;
    text-decoration: underline;
}

/* squares */

.main-content {
    display: flex;
}

.square {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square img {
    width: 50%;

    /* non sono riuscito a render le icone di colore bianche, ho cercato in internet per render le svg ma non ingranano (anche se il nero non è male, sfina) */

}

.square-content-left,
.square-content-right {
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

.centerbox {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    background-color: #F5F5F5;
}

.center {
    width: 100%;
    padding: 15px;
    font-size: 12px;
    margin: 0 10px 0 10px;
}

.icon {
    width: 65%;
    padding: 35px;
    margin-left: -7px;
}

.rule {
    width: 30%;

}

.designit {
    background-color: #A3D49C;

}

.designit:hover {
    transition: 2s;
    border: #c6e3c3 solid 25px;
}

.asu {
    background-color: #621927;
}

.asu:hover {
    transition: 2s;
    border: #efa9b7 solid 25px;
}


.uf {
    background-color: #3495CF;
}

.uf:hover {
    transition: 2s;
    border: #8bc7ea solid 25px;
}

.topps {
    background-color: #ED462F;
}

.topps:hover {
    transition: 2s;
    border: #eebfb9 solid 25px;
}

.wbr {
    background-color: #D83F2A;
}

.wbr:hover {
    transition: 2s;
    border: #f4c9c3 solid 25px;
}

.hc {
    background-color: #B5D1E8;
}

.hc:hover {
    transition: 2s;
    border: #d6e7f2 solid 25px;
}

.lp {
    background-color: #062182;
}

.lp:hover {
    transition: 2s;
    border: #6a85e8 solid 25px;
}

.cco {
    background-color: #FDD933;
}

.cco:hover {
    transition: 2s;
    border: #f7e499 solid 25px;
}




/* footer */

footer {
    background-color: black;
}

.foot-container {
    max-width: 84%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}



.foot-box ul li {
    color: white;
    list-style: none;
    padding: 10px 0 10px 0;
}

.foot-box ul {
    margin: 40px;
}

.headlist {
    margin-bottom: 15px;
}

.line hr {
    width: 11%;
    margin: 50px auto;
    margin-left: 175px;

}

.language {
    max-width: 75%;
    margin: 0 auto;
    display: flex;


}

.language i {
    font-size: 20px;
    color: white;
}

.language p {
    color: lightgray;
    margin-left: 10px;
}

/* free trial */

.free-trial {
    background-color: #B4D0E7
}

.business {
    width: 70%;
    margin: 0 auto;
    padding: 10%;
}
.business h2{
    color: #621927;
}
.business-button{
    background-color: white;
    color: black;
    padding: 10px 15px;
    width: 20%;
}

/* faq */

.faq-content {
    max-width: 70%;
    margin: 60px auto;
}

.request {
    margin: 20px 0 55px 0;
}

.faq-request {
    padding: 35px;
    position: relative;
}

.faq-request i {
    position: absolute;
    right: 0;
    bottom: 35px;
}

.faq-request hr {

    margin: 20px
}

/* faq hover */

.hidden {
    display: none;
    margin: 10px 0 10px 0;
}

.faq-request:hover .hidden {
    transition: 5s;
    display: block;
}