* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */


.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;

}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 20px;
}

ul {
    display: flex;

}

li {
    display: inline-block;
    list-style: none;
    padding: 0 18px;
}

a {
    text-decoration: none;
    color: dimgrey;
}

.btn a {
    background-color: #0560FB;
    color: white;
    padding: 10px 15px;
}

/* jumbo */


.container-jumbo {
    width: 100%;
    top: 80px;
    position: relative;
    background-color: #B4D0E7;
}

.subcontainer {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    position: relative;
    bottom: -80px;
}

h1 {
    text-align: center;
    font-size: 60px;
}

.flexcontainer {
    display: flex;
    width: 100%;
}

.jumbo-text {
    width: 40%;
    padding: 0 90px;
    line-height: 25px;
}

.jumbo-text p{
    margin: 30px 0;
}

.img {
    width: 60%;
}

img {
    width: 100%;
}