* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */


.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;

}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.logo {
    padding-right: 20px;
}

ul {
    display: flex;

}

li {
    display: inline-block;
    list-style: none;
    padding: 0 18px;
}

a {
    text-decoration: none;
    color: dimgrey;
}
.btn a{
    background-color: #0560FB;
    color: white;
    padding: 10px 15px;
}